<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" />
  <package id="jQuery.Validation" version="1.11.1" />
  <package id="Newtonsoft.Json" version="5.0.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="jQuery.UI.Combined" version="1.10.2" />
  <package id="Modernizr" version="2.6.2" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" />
  <package id="elmah" version="1.2.2" />
  <package id="Ninject" version="3.0.1.10" />


</packages>
